player-connection-mode=Listen
player-connection-guid=1548642794
player-connection-debug=0
player-connection-project-name=ForTest
player-connection-ip=192.168.138.1
player-connection-ip=192.168.234.1
player-connection-ip=192.168.30.136
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
